@import "../variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    color:$body-color;
    font-size: 13px;
    font-family:'Montserrat', sans-serif;;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}