$header-height:50px;
$left-sidebar-width:200px;
$right-sidebar-width:300px;
$border-color:rgba(0, 0, 0, 0.05);
$primary-color:#9b59b6;
$secondary-color:#94989c;
$danger-color:#e74c3c;
$body-color:#2c3e50;
